---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import CardsBoard from '../components/CardsBoard.astro';
---

<Layout title="Desafío. Four Cards">
  <div class="font-Poppins text-center m-16 text-Very-Dark-Blue">
    <Header />
    <CardsBoard />
  </div>
</Layout>
