<header class='w-[45%] m-auto'>
  <h2 class='font-[200] text-2xl text-Grayish-Blue'>Reliable, efficient delivery</h2>
  <h1 class='font-[600] text-2xl pt-3 pb-5'>Powered by Technology</h1>
  <p class='text-sm text-Grayish-Blue font-[200]'>
    Our Artificial Intelligence powered tools use millions of project data
    points to ensure that your project is successful
  </p>
</header>